/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* "Poppins", sans-serif */

body {
  font-family: Roboto,sans-serif;
    min-width: 500px;
}

header {
    margin-bottom: 2.5rem;
}

/* Navbar and Hamburger */

.navbar a {
    top: 0.4rem;
    right: 2rem;
    position: absolute;
    font-size: 1.5rem;
    color: #0e2431;
    text-shadow: 1px 1px 1px rgba(0, 69, 172, 0.555);
    text-decoration: none;
}

.navbar {
    width: 100vw;
    box-shadow: 0 2px 4px rgba(146, 161, 176, 0.5);
    height: 2.5rem;
    position: fixed;
    top: 0;
    background-color: whitesmoke;
}

.navbar a:hover {
    transform: scale(1.2);
}


/* First page info */

hr {
    margin-top: 1.5rem;
    color: rgba(0, 0, 0, 0.493);
    box-shadow: 0 2px 4px rgba(146, 161, 176, 0.5);
}

.info img{
    margin-top: 2rem;
    width: 100vw;
    height:auto;
}

.info h1 {
    text-shadow: 2px 2px 3px rgba(22, 46, 184, 0.226);
    font-size: 2.3rem;
    font-weight: 500;
}

.info #info-welcome {
    margin-top: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 2.5rem;
}

/*  Store items  */

.section-body {
    margin-top: 1rem;
    width: 100vw;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2,50vw);
    grid-template-rows: auto;

}

.section-body .img-item {
    height: 250px;
}

.section-body article p {
    color: rgb(77, 77, 77);
    
}

.section-body article h1 {
    margin: 0.5rem;
}

.section-body-price{
    display: grid;
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;
    
}

.section-body-price:hover {
    background-color: rgba(0, 255, 255, 0.13);
}



#footer{
  background-color: rgba(0, 0, 0, 0.123) ;
  color: black;
  height: 10rem;

}


#footer h1 {
    position: absolute;
    margin-top: 1rem;
    margin-left: 2.5rem;
}

#footer p {
    position: absolute;
    margin-top: 4rem;
    margin-left: 1.5rem;
    font-weight: 500;
    font-size: 18px;
}

#search {
    position: absolute;
    top: -100;
}

@media only screen and (min-width:800px) {
    
    #searchbar-position {
      display: flex;
      align-items: center;
      justify-content:center;
    }

    #search {
        position: relative;
        top: .25rem;
        width: 50%;
        height: 2rem;
        border: 10px,#0e2431;
        border-radius: 1%;
        
    }

    .section-body {
        margin-top: 1rem;
        width: 100vw;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(3,33vw);
        grid-template-rows: auto;

    }

    .section-body-price{
        display: grid;
        align-items: center;
        justify-items: center;
        margin-bottom: 1rem;
        
    }
    


}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 1.1rem;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }